---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Melani">
    <pre
        class="art">
      .    *    .  ○   ⋆   ·    ∗  ·
    ∗   .(∗)     ∗    *    ·    .
     .    ∗   ⊹   .  ✧ ˚  *     ⋆ ⋆
 ~~~~~~~~~~~~~~~~~)  (~~~~~~~~~~~~~~
   ~~/\   /\~~~~~    ~~~~~/\~~~~~~
  ~~~~~~~~~~~~~~~/\~~~~~~~~~~~~~~~
 ~~~╭┬┬╮~~~~~~~~~~~~~~~/\~~/\~~~~
 ~~~├┼┼┤~~~~~~~~~~~~~~~~~/\~~~~~
 ~~~╰┴┴╯~~~~~~~~~~~~~~~~~~~~~~~~
    </pre>
    <div class="caption">De sterrennacht - Vincent van Gogh</div>
</Layout>

<style>
    .art {
        color: #9d7cd8;
        font-family: monospace;
        margin: 2rem 0;
        line-height: 1.2;
        white-space: pre;
    }
    .caption {
        color: #666;
        font-family: monospace;
        text-align: center;
        font-size: 0.9em;
    }
</style>
