---
import Layout from "../layouts/Layout.astro";
import { readFile } from "node:fs/promises";
const r = await readFile("README.md", "utf-8");
const c = r.split("\n").slice(1).join("\n").trim();
---

<Layout title="Gargamel">
    <article>
        {c.split("\n\n").map((p) => <p>{p}</p>)}
    </article>
</Layout>
