---
import BaseLayout from "../layouts/BaseLayout.astro";

const posts = await Promise.all(
    Object.entries(await import.meta.glob("/src/pages/library/*.mdx")).map(
        async ([path, resolver]) => {
            const { frontmatter } = await resolver();
            return {
                url: path.replace(
                    /^\/src\/pages\/library\/(.*)\.mdx$/,
                    "/library/$1",
                ),
                title: frontmatter.title,
            };
        },
    ),
).then((posts) => posts.sort((a, b) => a.title.localeCompare(b.title)));
---

<BaseLayout title="My Blog">
    <h1>Gargamel</h1>
    <ul>
        {
            posts.map((post) => (
                <li>
                    <a href={post.url}>{post.title}</a>
                </li>
            ))
        }
    </ul>
</BaseLayout>
