---
import Layout from "../layouts/Layout.astro";
const p = Object.entries(
    import.meta.glob("/src/pages/library/*.mdx", { eager: !0 }),
)
    .map(([p, m]) => ({
        url: p.replace(/^\/src\/pages\/library\/(.*)\.mdx$/, "/library/$1"),
        title: m.frontmatter.title,
    }))
    .sort((a, b) => a.title.localeCompare(b.title));
---

<Layout title="Library">
    {
        p.map((p) => (
            <div>
                <a href={p.url}>{p.title}</a>
            </div>
        ))
    }
</Layout>
