---
const p = Astro.props.frontmatter?.title || Astro.props.title;
---

<html style="background:#000;color:#fff">
    <meta name="viewport" content="width=device-width" />
    <title>{p}</title>
    <nav>
        <a href="/">home</a> / <a href="/library">library</a> / <a
            href="https://github.com/Miyli/Gargamel">github</a>
    </nav>
    <hr />
    <h1>{p}</h1>
    <slot />
</html>
