---
import { ViewTransitions } from "astro:transitions";
const t = Astro.props.frontmatter?.title || Astro.props.title;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <ViewTransitions />
    </head>
    <body>
        <main>
            <header>
                <div>┌─ {t}</div>
                <nav>
                    └─┬ <a href="/">home</a>
                    ─┬ <a href="/library">library</a>
                    ─┬ <a href="https://github.com/Miyli/Gargamel">source</a>
                </nav>
            </header>
            <hr />
            <div class="content">
                <slot />
            </div>
        </main>
    </body>
</html>
